 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 281px;
}

.u-section-1 .u-text-1 {
  width: 200px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 30px 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 1140px;
  margin: 30px auto 20px -11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-1 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1955px;
}

.u-section-2 .u-text-1 {
  margin: 0 513px 0 22px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 192px;
  background-image: none;
  margin: -208px 22px 0 662px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 16px 22px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 22px;
}

.u-section-2 .u-text-4 {
  margin: 0 22px;
}

.u-section-2 .u-text-5 {
  margin: 0 24px;
}

.u-section-2 .u-text-6 {
  margin: 10px 24px 0 553px;
}

.u-section-2 .u-custom-html-2 {
  min-height: 399px;
  background-image: none;
  margin: -246px 613px 0 22px;
}

.u-section-2 .u-text-7 {
  margin: -153px 24px 0 553px;
}

.u-section-2 .u-text-8 {
  margin: -1px 21px 0 554px;
}

.u-section-2 .u-text-9 {
  margin: 0 24px;
}

.u-section-2 .u-custom-html-3 {
  min-height: 291px;
  background-image: none;
  height: auto;
  margin: 28px 22px 0 604px;
}

.u-section-2 .u-text-10 {
  margin: -319px 558px 0 23px;
}

.u-section-2 .u-text-11 {
  margin: 0 558px 0 22px;
}

.u-section-2 .u-text-12 {
  margin: 3px 22px 0;
}

.u-section-2 .u-custom-html-4 {
  min-height: 342px;
  background-image: none;
  margin: 25px 583px 0 22px;
}

.u-section-2 .u-text-13 {
  margin: -356px 22px 0 581px;
}

.u-section-2 .u-text-14 {
  margin: 0 35px 0 581px;
}

.u-section-2 .u-text-15 {
  margin: 0 24px 0 581px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 484px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 377px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    margin-right: 435px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 377px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 375px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 426px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 381px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 380px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
    margin-right: 405px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 403px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 13px;
    margin-left: 403px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 2px;
    margin-left: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 115px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 264px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 157px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 215px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 157px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 155px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-left: 206px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 161px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 160px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-right: 185px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-15 {
    margin-bottom: 9px;
    margin-left: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 84px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 35px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-3 {
    margin-left: 26px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-4 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 3px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 3px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-3 {
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-3 .u-text-1 {
  margin: 18px 24px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 679px 0 24px;
}

.u-section-3 .u-custom-html-1 {
  background-image: none;
  min-height: 188px;
  height: auto;
  margin: -308px 24px 0 485px;
}

.u-section-3 .u-text-3 {
  margin: 121px 679px 0 24px;
}

.u-section-3 .u-custom-html-2 {
  background-image: none;
  min-height: 188px;
  height: auto;
  margin: -281px 24px 0 485px;
}

.u-section-3 .u-text-4 {
  margin: 93px 679px 0 24px;
}

.u-section-3 .u-custom-html-3 {
  background-image: none;
  min-height: 255px;
  height: auto;
  margin: -281px 24px 0 485px;
}

.u-section-3 .u-text-5 {
  margin: 36px 24px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 309px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 309px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 309px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 283px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 89px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 283px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-left: 89px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 283px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 103px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 103px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 103px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 89px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 6s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-weight: 700;
  background-image: none;
  margin: 17px 124px 0 auto;
  padding: 15px 56px 15px 55px;
}

.u-section-4 .u-text-1 {
  margin: -47px 570px 25px 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 393px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}